<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <header><%- include('../partials/header') %></header>
    <nav><%- include('../partials/navigation') %></nav>

    <main>
      <%- body %>
      <!-- This is where the content of each view will be injected -->
    </main>

    <footer><%- include('../partials/footer') %></footer>
  </body>
</html>
