<%- messages() %>

<h1 class="login-header">Add New Inventory</h1>

<form class="login-form-placement" method="post" action="/inv/add-inventory">
  <label class="login-labels" for="classification_id">Classification</label>
  <%- classificationDropdown %>

  <label class="login-labels" for="inv_make">Vehicle Make</label>
  <input
    class="login-inputs"
    type="text"
    id="inv_make"
    name="inv_make"
    value="<%= typeof invMake !== 'undefined' ? invMake : '' %>"
    required
  />

  <label class="login-labels" for="inv_model">Vehicle Model</label>
  <input
    class="login-inputs"
    type="text"
    id="inv_model"
    name="inv_model"
    value="<%= typeof invModel !== 'undefined' ? invModel : '' %>"
    required
  />

  <label class="login-labels" for="inv_year">Vehicle Year</label>
  <input
    class="login-inputs"
    type="number"
    id="inv_year"
    name="inv_year"
    value="<%= typeof invYear !== 'undefined' ? invYear : '' %>"
    required
  />

  <label class="login-labels" for="inv_description">Vehicle Description</label>
  <textarea
    class="login-inputs"
    id="inv_description"
    name="inv_description"
    required
  >
<%= typeof invDesc !== 'undefined' ? invDesc : '' %></textarea
  >

  <label class="login-labels" for="inv_image">Vehicle Image Path</label>
  <input
    class="login-inputs"
    type="text"
    id="inv_image"
    name="inv_image"
    value="/images/no-image.png"
    required
  />

  <label class="login-labels" for="inv_thumbnail">Vehicle Thumbnail Path</label>
  <input
    class="login-inputs"
    type="text"
    id="inv_thumbnail"
    name="inv_thumbnail"
    value="/images/no-image-thumb.png"
    required
  />

  <label class="login-labels" for="inv_price">Vehicle Price</label>
  <input
    class="login-inputs"
    type="number"
    id="inv_price"
    name="inv_price"
    step="0.01"
    value="<%= typeof invPrice !== 'undefined' ? invPrice : '' %>"
    required
  />

  <label class="login-labels" for="inv_miles">Vehicle Miles</label>
  <input
    class="login-inputs"
    type="number"
    id="inv_miles"
    name="inv_miles"
    value="<%= typeof invMiles !== 'undefined' ? invMiles : '' %>"
    required
  />

  <label class="login-labels" for="inv_color">Vehicle Color</label>
  <input
    class="login-inputs"
    type="text"
    id="inv_color"
    name="inv_color"
    value="<%= typeof invColor !== 'undefined' ? invColor : '' %>"
    required
  />

  <div class="login-submit-button">
    <input class="login-button" type="submit" value="Submit" />
  </div>
</form>
